# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# pyInstaller
dist/
build/
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Others
*.sqlite3
*.db
*.bak
